.header {

    height: 180px;
    padding-top: 1px;
  }
  .nom-prenom{
   color: grey;
  }
  .header h2 {
    background-color: #2dd36f;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  .space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
  }
  
  .followings {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .followings p {
    padding-top: 100px;
    color: white;
    margin: 8px 0px 0px 0px;
  }
  
  
  .img-box {
  
    height: 130px;
    width: 130px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  
  .border-white {
  
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
  }
  .border-blue {
  
    border: 7px solid #006bbf;
    border-radius: 50%;
    width: fit-content;
  }
  .flex {
    margin-top: 0%;
    display: flex;
    justify-content: center;
  
  }
  
  .icon-title-profil {
    text-align: center;
    padding-top: 3%;
  }
  
  
  
  