.description {
    padding:0px;
    margin: 5px;
  }
  
  .image-livre-card {
    height: 200px;
  }

.image-card {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}