<ion-header  [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      Evenements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <img src="assets/concert.jpg" />
    <ion-card-header>
      <ion-card-title class="title">Concert de Jhonny !</ion-card-title>
    </ion-card-header>

    <ion-card-content class="description">
      Date: 28/06/2020
    </ion-card-content>


    <ion-card-content class="description">
      Prix: 50€
    </ion-card-content>


    <ion-card-content class="description">
      Adresse: Zenith de Toulouse
    </ion-card-content>


    <ion-card-content class="description">
      <a href="https://www.ticketmaster.fr/fr/manifestation/concert-hommage-a-johnny-billet/idmanif/489591"><div class="reservation">Pour réserver !</div></a>
    </ion-card-content>

  </ion-card>
</ion-content>
